/* reset */
html,body,div,span,table,tr,td,th,input,select {
    border:none;
    margin:0;
    padding:0;
    position:relative;
    font-family: consolas, san-serif, arial;
}

/* main */
body {
    height: 100vh;
    background: #000;
    color: white;
    font-family: consolas, san-serif, arial;
}

body > h1 {
    padding:48px;
    text-align:center;
}

.content {
    width: 320px;
    margin: 0 auto;
}

.field {
    display:flex;
    justify-content: center;
    align-items: center;
}

.field>input, .field>select {
    border-bottom:solid #222 2px;
    background:transparent;
    color: white;
    height: 40px;
}

.field>input {
    text-align: center;
    width: 100px;
}

.field>select {
    width: 100%;
}
.field>select>option {
    background: black;
}