/* reset */
html,body,div,span,table,tr,td,th,input,select,header,footer {
    border:none;
    margin:0;
    padding:0;
    position:relative;
}

/* main */
body {
    height: 100vh;
    background: #000;
    color: white;
    font-family: consolas, san-serif, arial;
    font-size:1.5em;
}

body > h1 {
    padding:48px;
    text-align:center;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.field {
    display:flex;
    justify-content: center;
    align-items: center;
}

.field>input, .field>select {
    border-bottom:solid #222 2px;
    background:transparent;
    color: white;
    font-size:2em;
    height: 120px;
}

.field>input {
    text-align: center;
    margin-right:64px;
    width: 320px;
}

.field>select {
    width: 100%;
}
.field>select>option {
    background: black;
}

footer {
    display:flex;
    justify-content: space-between;
    position:absolute;
    bottom:0;
    width:100%;
    font-size:smaller;
}

footer>*{
    padding:16px;
}